CDS_HOST = '192.168.0.1'
CDS_DB_PATH = r'C:\DB\PROJECTS.FDB'
CDS_DB_PATH = r'C:\DB\PROJECTS.FDB'
CDS_DB_DATA_PATH = r'C:\DB\DATA.FDB'
CDS_DB_PROJECTS_PATH = r'C:\DB\PROJECTS.FDB'
CDS_USER = 'SYSDBA'
CDS_PASS = 'masterkey'
VRNBUSBOT_TOKEN = ''
PING_HOST = 'http://localhost:8080'
USERS_TO_INFORM = ""
VRNBUSBOT_TOKEN = ''

LOAD_TEST_DATA = True
FULL_ACCESS_KEY = ""
DB_LINK = 'postgresql://vrnbus:vrnbus@127.0.0.1/vrnbus'

