CDS_HOST = '192.168.0.1'
CDS_DB_PATH = r'C:\DB\PROJECTS.FDB'
CDS_USER = 'SYSDBA'
CDS_PASS = 'masterkey'
VRNBUSBOT_TOKEN = 'BOT_TOKEN_FROM_@BOTFATHER'
PING_HOST = 'http://localhost:8080'

LOAD_TEST_DATA = True

