.bus-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left:-5px; margin-top:0px;
}

.bus-title {
    display: block;
    background-color: white;
    color: black;
    position: absolute;
    margin-left:20px;
    margin-top:20px;
    padding: 2px;
}