.bus-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left:-5px; margin-top:0px;
}

.bus-title {
    display: block;
    background-color: white;
    position: absolute;
    margin-left:25px;
    margin-top:25px;
    padding: 2px;
    color: orange;
    font-weight: bold;
}